@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Poppins', sans-serif;
}

.header-background {
  border-radius: 12px;
  background: var(--Blue-Primary-1, #1c3f67);

  /* blue shadow */
  box-shadow: 0px 0.91319px 2.21381px 0px rgba(35, 134, 167, 0.03),
    0px 2.19453px 5.32008px 0px rgba(35, 134, 167, 0.04),
    0px 4.13211px 10.01724px 0px rgba(35, 134, 167, 0.05),
    0px 7.37098px 17.86905px 0px rgba(35, 134, 167, 0.07),
    0px 13.78661px 33.42209px 0px rgba(35, 134, 167, 0.08),
    0px 33px 80px 0px rgba(35, 134, 167, 0.11);
}

.blur-card-bg {
  background: rgba(255, 255, 255, 0.26);
  backdrop-filter: blur(11.5px);
}

.know-more-btn {
  border-radius: 12px;
  border: 1px solid #3da07c;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
}

.outlined-btn {
  border-radius: 12px;
  border: 1px solid #1c3f67;
  background: rgba(255, 255, 255, 0.24);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}

.who-we-are {
  background-image: linear-gradient(88deg,
      #c0ffd8 4.63%,
      rgba(192, 255, 216, 0) 48.33%),
    url('../../public/images/who-we-are.webp');
  @apply lg:w-1/2 w-full lg:h-[602px] h-[390px];

  background-size: cover;
}

.why-choose-us {
  border-radius: 12px;
  background: linear-gradient(163deg,
      #333186 1.59%,
      #232e69 40.58%,
      #0e3662 96.36%);
}

.text-input {
  border-radius: 6px;
  border: 1px solid rgba(61, 87, 126, 0.45);
  background: rgba(255, 255, 255, 0.38);
}


.choose-card {
  border-radius: 12px;
  background: rgba(141, 150, 233, 0.21);
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.15);
}

.about-us-overlay {
  border-radius: 2px;
  opacity: 0.54;
  background: #C4C4C4;
}

.outlined-card{
  border-radius: 12px;
border: 1px solid #232E69;
background: rgba(141, 150, 233, 0.21);
}